html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Images */
.header-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }
/* Store Nav Options */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.main-banner {
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)),
    url(images/flower-bkgd.jpg) repeat-x center;
background-size: cover, contain, cover;
max-width: 100%;
height: auto;
box-sizing: content-box;
}
/*  url(../images/banner-girl.png) no-repeat center 70px, */


/* Footer */
.site-footer {
    background-color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

/* Typography */
html, body {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: '500';
    color: black
}

h1, h2, h3 {
    font-family: 'Playfair Display';
    font-weight: '500';
    color: black;
}